{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "10"
      },
      "modules": "commonjs",
      "bugfixes": true,
      "loose": true
    }],
    "@babel/preset-flow"
  ]
}
