{
  "extends": [
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "standard",
    "prettier",
    "prettier/standard"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ]
}
